.banner {
  width: 100%;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.8) 0, rgba(22, 22, 22, 0.8)), url("../../image/banner1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 62rem;
}

.ima {
  margin-right: 50px;
  margin-left: 50px;
}

ul li a {
  font-size: 15px;
}

ul li {
  padding: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
  text-transform: uppercase;
}

.rog {
  background-color: #A52A2A;
}

ul li:hover {
  background-color: #A52A2A;
}

.mil {
  margin-top: 300px;
}

.fnt {
  font-size: 50px;
  color: white;
  font-family: "Courgette", cursive;
}

.gra {
  font-size: 90px;
}

.ro {
  font-size: 70px;
  color: #A52A2A;
}

.gr {
  font-size: 70px;
}

form {
  text-align: center;
  margin-top: 280px;
}

a.btn-default {
  border-radius: 30px;
  background-color: #fff;
  color: #000 !important;
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a.btn-defaultt {
  border-radius: 30px;
  background-color: #A52A2A;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu {
  background-image: url("../../image/main_bg.jpg");
}

section {
  padding: 40px 0px;
}

.carre {
  border: 1px solid #e4e4e4;
  background-color: #fff;
  padding: 0px 0px 0px;
  background: url("../../image/box-left-top.png") left top no-repeat, url("../../image/box-right-top.png") right top no-repeat, url("../../image/box-bottom-left.png") left bottom no-repeat, url("../../image/box-bottom_right.png") right bottom no-repeat white;
}

.membre {
  width: 100%;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.9) 0, rgba(22, 22, 22, 0.9)), url("./img/team_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-12 h2 {
  color: #A52A2A;
  font-family: "Courgette", cursive;
}

.membre .row .col-3 h2 {
  color: white;
  font-size: 12px;
  text-align: center;
}

.logo {
  font-size: 65px;
  color: red;
}

.ml {
  margin-left: 125px;
}

.logoA {
  font-size: 65px;
  color: #aaa5a5;
}

.fr {
  float: right;
}

.fl {
  float: left;
  display: inline;
}

.img {
  width: 85px;
  height: 85px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border: 4px solid #dddddd;
}

.inline {
  display: block;
}

.aliner {
  text-align: left;
}

.R {
  color: red;
}

.foto {
  background-image: url("../../image/book_table_bg.jpg");
  background-size: 100%;
  border-radius: 20px;
  width: 100%;
  margin: auto;
  max-width: 70%;
}

.h2 {
  font-size: 50px;
  margin-top: 40px;
  color: #c42d40;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0px;
}

.table {
  font-size: 36px;
  color: #000;
  text-transform: none;
}

.com {
  background-image: url("../../image/testimonials_background.jpg");
  width: 100%;
  height: 500px;
}

.epai {
  max-width: 70%;
}

.pad {
  padding-bottom: 95px;
}

.round {
  width: 85px;
  height: 85px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border: 4px solid #dddddd;
}

.section {
  background-image: url("../../image/main_bg.jpg");
  width: 100%;
}

.cont-all {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  overflow: hidden;
}

.img-box-left-top {
  float: left;
  margin-left: -15px;
}

.img-box-right-top {
  float: right;
  margin-right: -15px;
}

.span-titre1 {
  color: #CA234F;
}

.span-titre1-smart {
  color: #CA234F;
  font-size: 20px;
}

.span-titre2 {
  font-size: 40px;
}

.span-titre2-smart {
  font-size: 25px;
}

.img-blog {
  border-radius: 20px;
  border-color: lightgrey;
  border-style: solid;
  border-width: 5px;
  max-width: 80%;
}

.signin {
  background-image: url("../../image/book_table_bg.jpg");
  background-size: 100%;
  width: 100%;
  border-radius: 20px;
  max-width: 70%;
  margin: auto;
}

.signin2 {
  font-size: 30px;
}

.but-booknow {
  padding: 15px;
  background-color: #CA234F;
  color: white;
  border-radius: 50px;
  border-color: transparent;
  margin: auto;
}

.but-knowmore {
  padding: 15px;
  background-color: #CA234F;
  color: white;
  border-radius: 50px;
  border-color: transparent;
}

.cont-left {
  margin-left: 50px;
}

.in-all {
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  border-color: transparent;
  color: black;
  background-color: white;
}

.kdg {
  background-image: url("../../image/testimonials_background.jpg");
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.span-titre5 {
  font-size: 35px;
  color: white;
}

.hgf {
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

.sze {
  color: #CA234F;
  font-size: 50px;
}

.yh {
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 5px;
  width: 90%;
}

.ls {
  color: #CA234F;
}

.span-titre3 {
  font-family: courgette;
  padding-top: 30px;
  margin-bottom: -10px;
}

.span-titre4 {
  font-size: 35px;
  color: black;
}

.sdc {
  background-color: #CA234F;
  max-width: 30%;
  border-radius: 10px;
  margin: auto;
}

.brbo {
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 2px;
}

.section5 {
  background-image: url("../../image/main_bg.jpg");
  margin-top: -20px;
  margin-bottom: -50px;
  padding-bottom: 35px;
}

.footer {
  background-image: url("../../image/footer_background.jpg");
}

.repm {
  background-image: url("../../image/footer_bottom_decoration_img.png");
  background-repeat: repeat;
  width: 100%;
  height: 10px;
}

.pml {
  font-size: 30px;
  letter-spacing: 20px;
}

.butfin {
  border-radius: 20px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  background-color: #CA234F;
  color: white;
  margin-top: 10px;
  padding: 8px;
  margin-right: 8px;
}

.fini {
  background-color: #CA234F;
}

.date-12april {
  background-color: #CA234F;
  max-width: 70%;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  bottom: 0.7cm;
  left: 2.1cm;
}

.date-12april2 {
  background-color: #CA234F;
  max-width: 70%;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  bottom: 0.7cm;
  left: 2.2cm;
}

.txt-1 {
  max-width: 70%;
  margin: auto;
}

.img-box-bot-right {
  float: right;
  margin-right: -15px;
}

.img-box-bot-left {
  float: left;
  margin-left: -15px;
}

.cour {
  font-size: 30px;
  color: white;
  font-family: "Courgette", cursive;
}

/*# sourceMappingURL=style.css.map */
